/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

h1 {
    @apply text-4xl;
    @apply mb-6;
}

a{
    @apply text-primary;
    position: relative;
}

a:hover:not(.nuxt-link-exact-active)::after{
    @media screen and (min-width: 768px) {
        width: 100%;
        bottom: -4px;
        height: 1px;
        left: 0;
    }
    content: '';
    position: absolute;
    background: white;
    text-align: center;
}



p{
    @apply text-txtwhite;
}
.nuxt-link-exact-active{
    @media screen and (min-width: 768px) {
        border-bottom: 2px solid #fff;
    }
}
.nuxt-link-exact-active:after{
    content: '';
    left: -20px;
    height: 2px;
    width: 10px;
    background: #29335c;
    position: absolute;
    top: 50%;
    @media screen and (min-width: 768px) {
        display: none;
    }
}